doctype html
html
    title Tic Tac Toe
    head
        link(rel="stylesheet", href="css/main-style.css")
        script(src="//code.jquery.com/jquery-1.11.2.min.js")
        script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(src="js/client.js")
    body
        .container
            .header
                h1 Tic - Tac - Toe
            .error.hide
            .pregame.hide
                h1 Welcome!
                input(type="text" placeholder="Please enter a username...")#username
                input(type="button", value="Submit")#submitUN
                p Username must contain letters and can contain numbers.
            .readyUp.hide
                h1 Waiting for players...
            .postgame.hide
                input(type="button", value="Play Again?", onclick="location.reload();")
            .gamefull.hide
                h1 Game is currently full!
            .tic-tac-toe.hide
                .row-1
                    .col-0-0 
                    .col-1-0
                    .col-2-0
                .row-2
                    .col-0-1
                    .col-1-1
                    .col-2-1
                .row-3
                    .col-0-2
                    .col-1-2
                    .col-2-2
                .status
            .chat.hide
                .history#chatlog
                .controls
                    input(type="text" placeholder="Send a message...")#chatbox
                    input(type="button" value="Send")#chat
